<h1>Spiderman</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>
<button
  *ngIf="name !== 'Spiderman'"
  class="btn btn-primary"
  (click)="changeHero()"
>
  cambiar nombre {{ name }}
</button>
<button *ngIf="25 !== age" class="btn btn-primary" (click)="changeAge()">
  cambiar edad
</button>
<button class="btn btn-primary" (click)="reset()">Reset</button>
